
.shape1 {
    top: 280px;
    left: 120px;
    width: 100px;
  }

  .shape2 {
    top: 370px;
    left: 260px;
    width: 60px;
    height: 60px;
  }

  .shape3 {
    top: 240px;
    left: 90px;
    width: 26px;
    height: 70x;
  }

  .shape4 {
    top: 200px;
    left: 210px;
    width: 60px;
    height: 60px;
  }
